// Copyright 2022 DolphiniOS Project
// SPDX-License-Identifier: GPL-2.0-or-later

//
// Change this line to modify the organization identifier.
//

DOL_PBID_ORGANIZATION_IDENTIFIER = use.your.own.organization.identifier

//
// You probably shouldn't touch anything below. (Unless you know what you're doing.)
//

DOL_PBID_APP_NAME[sdk=iphoneos*] = Fin
DOL_PBID_APP_NAME[sdk=iphonesimulator*] = Fin

PRODUCT_BUNDLE_IDENTIFIER[config=Debug] = $(DOL_PBID_ORGANIZATION_IDENTIFIER).$(DOL_PBID_APP_NAME)-debug
PRODUCT_BUNDLE_IDENTIFIER[config=Release] = $(DOL_PBID_ORGANIZATION_IDENTIFIER).$(DOL_PBID_APP_NAME)
PRODUCT_BUNDLE_IDENTIFIER[config=Release (Beta)] = $(DOL_PBID_ORGANIZATION_IDENTIFIER).$(DOL_PBID_APP_NAME)-beta
PRODUCT_BUNDLE_IDENTIFIER[config=Release (Fast Math)] = $(DOL_PBID_ORGANIZATION_IDENTIFIER).$(DOL_PBID_APP_NAME)
